<% include partials/header.ejs %>
  <main>
    <h3>Customise these sentences with your own details.</h3>
    <h5>All you have to do just go to the address bar and type after localhost:3000 'customise/yourName/yourJob Title/oneInterest' and then check what will happen.</h5>
  </main>
<% include partials/footer.ejs %>
    