<% include partials/header.ejs %>
  <main>
    <h3>Customise these sentences with your own details.</h3>
    <p>All you have to do just go to the address bar and type after localhost:3000 '/customise/yourName/yourJobTitle/yourInterest'.</p>
    <p>For example: localhost:3000/customise/dinaHafez/fullStackDeveloper/fitnessAndPhotography</p>
  </main>
<% include partials/footer.ejs %>
    