<% include partials/header.ejs %>
  <main>
    <h2>Thank you for your submission.</h2>
    <h4>Here are you skills based on your form:</h4>
    <ul>
      <li>Programming Languages: <%= data.programming %></li>
    </ul>
  </main>
<% include partials/footer.ejs %>