<% include partials/header.ejs %>
  <main>
    <h2>Thank you for your submission.</h2>
    <h4>Here are you skills based on your form:</h4>
    <ul>
      <li>Programming Languages: <ol><% data.programming.forEach(lang => { %></li>
        <li><%= lang %></li>
      <% }) %>
      </ol>
      <li>Frameworks: <ol><% data.frameworks.forEach(framework => { %></li>
        <li><%= framework %></li>
      <% }) %>
      </ol>
    </ul>
  </main>
<% include partials/footer.ejs %>