<% include partials/header.ejs %>
  <main>
    <h2>The skills</h2>
    <ul>
      <li>Languages: <%= skills.languages %></li>
      <li>Frameworks: <%= skills.frameworks %></li>
    </ul>
  </main>
<% include partials/footer.ejs %>