<!DOCTYPE html>
<html>
  <head>
    <title>Customiser Express App</title>
    <link rel='stylesheet' href='public/index.css'>
  </head>
  <body>
    <header>
      <h1>Welcome to the Customiser App</h1>
    </header>