<% include partials/header.ejs %>

<h2 class='subheading'>Results Page</h2>

<div class='main_wrapper'>
<% movies.Search.forEach(movie => { %>
  <div class='wrapper'>
    <h3 class='title'><%= movie.Title %></h3>
    <img class='poster_image' src='<%= movie.Poster %>'>
    <h3 class='year'><%= movie.Year %></h3>
  </div>
<% }) %>
<button class='search_again_btn' onClick="location.href='/'">Search Again</button>
</div>


<% include partials/footer.ejs %>