<% include partials/header.ejs %>

<h2>Results Page</h2>

<% movies.Search.forEach(movie => { %>
  <div class='wrapper'>
    <h3><%= movie.Title %> | <%= movie.Year %></h3>
    <img src='<%= movie.Poster %>'>
  </div>
<% }) %>

<button onClick="location.href='/'">Search Again</button>

<% include partials/footer.ejs %>