<% include partials/header.ejs %>

<h2 class='subheading'>Search for a Movie</h2>

<form action="/results" method="GET">
  <input class='search_input' type="text" placeholder="search term" name="search">
  <input class='search_submit' type="submit">
</form>
<% include partials/footer.ejs %>